<h1>New Plant</h1>
<form action="/plants" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="url" name="image" placeholder="image">
  <button>Create Plant</button>
</form>
