<div class="homepage">
<h1 id="homeheading1">City Library</h1>
<h2 id="homeheading2">Your favorite book store</h2>

<form action="/library/search" method="get">
  <input id="searchfield" type="text" name="name" placeholder="Search a book">
  <button id="searchbutton">Search</button>
</form>
</div>
