<h2>Add a new book</h2>
<form action="/library" method="post">
  <input type="text" name="name" placeholder="Lie of pie, Hamlet">
  <input type="text" name="author" placeholder="Author">
  <input type="url" name="cover" placeholder="cover url">
  <input type="text" name="pubyear" placeholder="2010">
  <button>Add Book</button>
</form>
