<h1>Rock Paper Scissors</h1>
<a href="/rock_paper_scissors/rock" name="rock">Rock</a>
<a href="/rock_paper_scissors/paper" name="paper">Paper</a>
<a href="/rock_paper_scissors/scissors" name="scissors">Scissors</a>
